@font-face {
  font-family: "Ubuntu";
  src: url("./assets/fonts/Ubuntu-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Ubuntu";
  src: url("./assets/fonts/Ubuntu-Medium.ttf") format("truetype");
  font-weight: medium;
}

@font-face {
  font-family: "Ubuntu";
  src: url("./assets/fonts/Ubuntu-Bold.ttf") format("truetype");
  font-weight: bold;
}

html,
body {
  padding: 0;
  margin: 0;
  scrollbar-gutter: stable;
}

body,
input,
button,
a {
  font-family: "Ubuntu", sans-serif;
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  -webkit-text-size-adjust: 100%;

  // color: var(--mode-text);
}

button,
a {
  display: inline-flex;

  border: none;
  outline: none;
  text-decoration: none;
  background: none;

  cursor: pointer;
}
